@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.App{
    height: 100vh;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: #fff;
    /* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid #1B1212a8;
}

.navbar button{
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #0C090A;
}

.main{
    padding: 20px 40px;
    height: 100%;
    overflow-y: scroll;
    background-color: #fafafa;
}

.user, .assistant{
    display: flex;
    width: calc(100% - 40px);
    gap: 10px;
    padding: 20px;
}

.main .user{
    background-color: #F2F3F5;
}

.bottom-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px 5px 30px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #1b1212a8;
}

.input-field{
    width: 100%;
}

.input-field input{
    width: 50%;
    outline: none;
    border: 2px solid #1b1212d0;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.input-field button{
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
    padding: 7px 15px;
    cursor: pointer;
    background-color: #1b1212d0;
}

.bottom-section p{
    font-size: 12px;
}